<a href="https://colab.research.google.com/github/ekarla/ProjetoBemol/blob/main/planilha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
planilha = pd.read_excel("PLANO HAPVIDA - ELENKARLA.xlsx")
planilha = planilha.rename(columns= planilha.iloc[2])
#planilha

In [ ]:
planilha = planilha.drop([0,1,2])
planilha = planilha.iloc[:,0:3]
planilha

             MAT                               NOME TOTAL GERAL
3           9558          ADRIANA FONSECA DE MORAES       211.66
4           9558          CRISTIAN PEREIRA PINHEIRO       207.93
5          10096          ADRIANE COELHO DA FONSECA       176.95
6          10096  BENICIO VALENTIN DA FONSECA SILVA       174.87
7          10096    ISIS VICTORIA DA FONSECA SILVA        174.87
..           ...                                ...          ...
620        16443         CAIO VICTOR VELOSO PEREIRA       173.83
621          NaN                                NaN          NaN
622          NaN                                NaN          NaN
623          NaN                                NaN          NaN
624  TOTAL GERAL                                NaN    119339.03

[622 rows x 3 columns]

In [ ]:
planilha = planilha.dropna(axis=0, how = 'any' )
planilha.tail()

       MAT                               NOME TOTAL GERAL
616  16491            GEYCE FERNANDA FERREIRA       283.09
617  15059     GISNEI ANTONIO ALMEIDA PEREIRA       207.93
618  15059  FRANCISCA ROSIVANA CAMPOS PEREIRA       207.93
619  12296    VICTOR HUGO PIMENTEL DOS SANTOS       237.05
620  16443         CAIO VICTOR VELOSO PEREIRA       173.83

In [ ]:
planilha_final = planilha.groupby(['MAT'],as_index=False).agg({'TOTAL GERAL ':'sum'})
planilha_final.loc[planilha_final.shape[0]] = ['Total', planilha_final.iloc[:, 1].sum()]

In [ ]:
planilha_final

       MAT  TOTAL GERAL
0     3615        725.48
1     3665        207.93
2     3750        292.84
3     3880        726.24
4     4247        363.22
..     ...           ...
429  16443        173.83
430  16491        283.09
431  16498        173.83
432  16508        566.18
433  Total     119339.03

[434 rows x 2 columns]

In [ ]:
from openpyxl import load_workbook

In [ ]:
book = load_workbook('PLANO HAPVIDA - ELENKARLA.xlsx')
writer = pd.ExcelWriter('PLANO HAPVIDA - ELENKARLA.xlsx', engine='openpyxl')
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
planilha_final.to_excel(writer, sheet_name='Valor_por_matricula', index=False)
writer.save()